.header {
  padding: 30px 0;
  background-color: rgb(0, 155, 34);
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}

.menu__link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 30px 25px;

}

.active {
  background-color:  rgb(0, 119, 26);
}